<form>
  <mat-form-field>
    <input matInput [(ngModel)]="data.checkIn" name="checkIn" placeholder="Check-In">
  </mat-form-field>

  <mat-form-field>
    <input type="text" [(ngModel)]="data.checkOut" name="checkOut" matInput placeholder="Check-Out">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" [(value)]="categoryId">
      <mat-option *ngFor="let category of categories" value="{{category.id}}" name="category">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="submit()">Submit!</button>

</form>



